body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: black;
  width: 100vw;
  height: 100svh;
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Good_Morning_From_the_International_Space_Station.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.headNav {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 10svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.headNav button {
  background-color: hsl(226, 100%, 70%);
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  border: none;
  margin: 5px;
}

.headNav button:hover {
  background-color: hsl(226, 100%, 65%);
}

.headNav button:active {
  background-color: hsl(226, 100%, 75%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: hsla(0, 0%, 0%, 0.7);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.dropdown-menu li {
  text-align: left;
  padding: 0;
  margin: 0;
}

.dropdown-menu button {
  height: 80px;
  width: 100px;
  border-radius: 0;
  margin: 0;
}

.dropdown-menu a {
  margin: 0;
}

/* -------------------------------------------------------------------- */

.headNav {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.headNav button {
  height: 50px;
  width: 150px;
  font-size: smaller;
  flex-grow: 1;
  margin: 10px;
}

.greetings-container {
  margin-top: 5svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  background-color: rgba(255, 255, 255, 0.486);
  border-radius: 5px;
  padding: 20px;
  max-width: 50vw;
  min-width: 330px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.greetings h1 {
  text-shadow: 1px 0px 3px black;
}

h1 {
  color: black;
}

input {
  border-radius: 5px;
  height: 38px;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: hsl(122, 39%, 40%);
  color: white;
}

button:active {
  color: white;
  background-color: hsl(122, 39%, 55%);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

.memory-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
  border-radius: 8px;
  margin-top: 5svh;
}

.memory-container {
  width: 370px;
  background-color: hsl(0, 0%, 100%, 0.5);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  height: 330px;
  width: 370px;

  align-items: center;
  text-align: center;
}

.card {
  width: 72.5px;
  height: 72.5px;
  background-color: rgb(81, 255, 0);
  border: 2px rgb(54, 54, 54) dotted;
}

p {
  color: white;
  text-shadow: 1px 1px 1px black;
}

h1 {
  color: white;
  text-shadow: 3px 3px 3px black;
}

h2 {
  text-shadow: 2px 2px 2px black;
  color: white;
}

.stopwatch-container {
  display: flex;
  justify-content: center;
  margin-top: 5svh;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.408);
  height: auto;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
  font-size: 4rem;
  font-family: monospace;
  text-shadow: 2px 2px 2px;
}

.controls button {
  font-size: 1.5rem;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
  padding: 10px;
  width: 100px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

.startBtn {
  background-color: hsl(120, 100%, 25%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.startBtn:hover {
  background-color: hsl(120, 100%, 20%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.startBtn:active {
  background-color: hsl(120, 100%, 30%);
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 0 5px rgba(0, 0, 0);
}

.stopBtn {
  background-color: hsl(0, 0%, 70%);
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.stopBtn:hover {
  background-color: hsla(0, 0%, 65%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.stopBtn:active {
  background-color: hsla(0, 0%, 75%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.resetBtn {
  background-color: hsl(0, 100%, 40%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.resetBtn:hover {
  background-color: hsl(0, 100%, 35%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.resetBtn:active {
  background-color: hsl(0, 100%, 45%);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5svh;
}

.app {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 100%, 0.5);
  width: 80svw;
  color: white;
  text-shadow: 1px 1px 1px black;
}

input {
  width: 80%;
  margin-right: 10px;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addBtn {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  padding: 11.5px;
  margin-top: 10px;
  width: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  padding: 11.5px;
  background-color: #a72828;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
}

li span {
  cursor: pointer;
}

.BgFix {
  position: absolute;
  bottom: 0;
  right: 0;
}

.BgFix button {
  background-color: black;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.dropdown-menu1 {
  list-style: none;
  background: hsla(0, 0%, 0%, 0.7);
  color: white;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  bottom: 35px;
  left: 0;
  margin-top: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu1 li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu1 li:hover {
  background: #f0f0f0;
}